Repository modern-agile-team/U-Market-Lambda, pull requests merged in 2021-10, with the labels that each got.

#18 logger 관리
  app/package-lock.json
  app/package.json
  app/src/apis/major/major.ctrl.js
  app/src/apis/user/user.ctrl.js
  app/src/config/logger.js
Labels: 기능 구현, 서버

#19 logger 관리
  app/app.js
  app/src/models/services/Major/Major.js
Labels: 기능 구현, 서버

#21 [homeAPI] 메인화면 조회 API 완성
  app/serverless.yml
  app/src/apis/home/home.ctrl.js
  app/src/apis/home/index.js
  app/src/models/services/Product/Product.js
  app/src/models/services/Product/ProductStorage.js
Labels: API, 기능 구현, 서버

#24 [marketApi] 거래장터 메인화면 API 추가
  app/app.js
  app/serverless.yml
  app/src/apis/products/index.js
  app/src/apis/products/products.ctrl.js
  app/src/models/services/Product/Product.js
  app/src/models/services/Product/ProductStorage.js
Labels: API, 기능 구현, 서버

#25 Joi를 이용한 에러 처리
  app/app.js
  app/package-lock.json
  app/package.json
  app/serverless.yml
  app/src/apis/home/home.ctrl.js
  app/src/apis/home/index.js
  app/src/apis/major/index.js
  app/src/apis/major/major.ctrl.js
  app/src/apis/market/index.js
  app/src/apis/market/market.ctrl.js
  app/src/apis/user/index.js
  app/src/apis/user/user.ctrl.js
  app/src/middleware/errorMiddleware.js
  app/src/middleware/validation.js
  app/src/models/services/Auth/Auth.js
  app/src/models/services/Major/Major.js
  app/src/repository/Major/MajorRepository.js
  app/src/repository/Market/MarketRepository.js
  app/src/repository/Product/ProductRepository.js
  app/src/repository/User/UserRepository.js
  app/src/services/Auth/AuthService.js
  app/src/services/Major/MajorService.js
  app/src/services/Market/MarketService.js
  app/src/services/Product/ProductService.js
  app/src/services/User/UserService.js
  app/src/utils/Cryptor.js
  app/src/utils/schemas.js
Labels: API, 기획 및 분석, 기능 구현, 서버

#27 Joi를 이용한 에러 처리
  app/app.js
  app/src/repository/Major/MajorRepository.js
  app/src/services/Major/MajorService.js
  app/src/utils/schemas.js
Labels: 버그, API, 서버

#28 병합 후 충돌 해결
  app/src/apis/products/products.ctrl.js
  app/src/repository/Product/ProductRepository.js
  app/src/services/Product/ProductService.js
Labels: API, 서버

#40 Joi를 이용한 에러 처리
  app/src/middleware/errorMiddleware.js
Labels: 기능 구현, 서버
